.page {
	background-color: #FFFFFF;
	padding: 30px 15px;
}

.title {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 15px;
}

.list {
	column-count: 3;
}

.small {
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.list {
		column-count: 2;
	}
}